/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'poppins',sans-serif;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    display:flex;
    justify-content: center;
    /* align-items:center; */
    /* min-height:100vh; */
    flex-direction:column;
    background: linear-gradient(45deg, #CFE5FA, #518DD1);
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #518DD1;
    background: linear-gradient(45deg, #CFE5FA, #518DD1);
    /* box-sizing: border-box; */
}
.header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    
}
.identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}

.navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    background: linear-gradient(45deg, #CFE5FA, #518DD1);
}



.button {
  /* border: 1px solid rgb(200, 200, 200); */
  border-radius: 6px;
  color: white;
  background-color: #626ccc;
  padding: 10px;
  margin: 20px;
  width: 180px;
  height: 50px;
  margin-bottom: 50px;
} 

nav li a:hover {
  background-color: rgb(240, 240, 240);
  
}
.gradient {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}

.templates {
  margin-bottom: 10rem;
  background-size: cover;
  height: auto;
  width: auto;
  padding-bottom: 7rem;
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.templates h1 {
  padding-top: 3.5rem;
  text-align: center;
}
.templates p {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
}
.templates img {
  padding: rem;
  border: 0px;
}
.page-header {
  margin-top: 3.5rem;
  font-size: 40px;
  color: #000000;
}
.page-header p {
  margin-left: 50rem;
  padding: 10rem 5rem 0rem 0rem;
}
.page-header button {
  margin-left: 50rem;
}

.container-template {
  margin-bottom: 10rem;
  background-size: cover;
  height: auto;
  width: auto;
  padding-bottom: 7rem;
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.container-template h1 {
  padding-top: 3.5rem;
  text-align: center;
}
.container-template p {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
}
.container-template .img-example {
  padding: rem;
  margin:20px;
  border: 0px;
}

*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
min-height: 100vh;
display: block;
align-items: center;
justify-content: center;

}
.site-footer {
background-color: #26272b;
padding: 45px 0 20px;
font-size: 15px;
line-height: 24px;
color: #737373;
box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.site-footer hr {
border-top-color: #bbb;
opacity: 0.5;
}
.site-footer hr.small {
margin: 20px 0;
}
.site-footer h6 {
color: #fff;
font-size: 16px;
text-transform: uppercase;
margin-top: 5px;
letter-spacing: 2px;
}
.site-footer a {
color: #737373;
}
.site-footer a:hover {
color: #fff;
text-decoration: none;
}
.footer-links {
padding-left: 0;
list-style: none;
}
.footer-links li {
display: block;
}
.footer-links a {
color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
color: #fff;
text-decoration: none;
}

.copyright-text {
margin: 0;
}


