html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  background:linear-gradient(45deg, #CFE5FA, #518DD1);
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  /* color: rgb(179, 179, 179); */
  color:linear-gradient(45deg, #CFE5FA, #518DD1);
  background:linear-gradient(45deg, #CFE5FA, #518DD1);
}
.header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    color:black;
    color:linear-gradient(45deg, #CFE5FA, #518DD1);
    background:linear-gradient(45deg, #CFE5FA, #518DD1);
}
.identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}
.header {
  padding: 5rem;
  text-align: center;
  background-color: rgb(240, 240, 240);
  margin:0px;
}
nav li a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
}
li {
  padding-left: 2.5rem;
}
#header h1 {
  margin-top: 0px;
}
#Card {
  margin: 2.5rem 5rem 2.5rem 5rem;
  border: 1px;
  box-shadow: 5px 10px 18px #888888;
  height: auto;
}
#Card h3 {
  padding: 2.5rem;
}
#Card p {
  font-size: 16px;
  padding-left: 2.5rem;
}
